# Copia este archivo y renómbralo a .env
# Rellena los datos según tu PostgreSQL local (o tu base de datos en la nube más adelante)

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DATABASE=servihogar
